body {
    font-family : 'Noto Sans JP', sans-serif;
    font-weight : 300;
}


a {
    color      : #000;
    transition : all 0.2s;

    &:hover {
        color           : green;
        text-decoration : none;
    }
}

.btn {
    color      : #FFF;
    background : #000;

    &:hover {
        color      : #FFF;
        background : green;
    }
}