// header
.navbar {

	border-bottom : 0.5px solid lighten(black, 92%);
	background    : #FFF;

	.navbar-header {

		+ #navbar {
			@include media-breakpoint-down(sm) {
				margin: 0 auto;
			}
		}

		@include media-breakpoint-down(sm) {
			display        : block;
			width          : 100%;
			text-align     : center;
			padding-bottom : 10px;
		}

		.brand-icon {
			span {
				color : #FFF;
			}
		}

		.navbar-brand {
			font-size : 14px;
		}
	}

	font-size : 14px;
}

#hi_its_me {

	margin-top  : $vertical-margin;
	padding-top : 50px;

	.photo-border {

		position       : relative;
		border         : 10px solid #FFF;
		border-radius  : 1000px;
		overflow       : hidden;
		box-shadow     : 0px 0px 25px 0px rgba(0,0,0,.1);
		width          : 100%;
		padding-bottom : calc(100% - 20px);

		@include media-breakpoint-down(sm) {
			width          : 60%;
			padding-bottom : calc(60% - 20px);
			margin         : 30px auto;
		}

		.photo-inner {
			background          : url('/assets/images/headshot.jpg') no-repeat;
			width               : auto;
			height              : auto;
			background-size     : cover;
			position            : absolute;
			background-position : center;
			top                 : 0;
			left                : 0;
			right               : 0;
			bottom              : 0;
		}
	}

	#about_me {

		@include media-breakpoint-down(sm) {
			padding-left  : 15px;
			padding-right : 15px;
		}

		#job_title {
			color         : lighten(black, 70%);
			margin-bottom : 10px;
		}

		#my_name {
			font-weight   : bold;
			font-size     : 46px;
			line-height   : 56px;
			margin-top    : 0;
			margin-bottom : 20px;
		}

		#my_story {
			color       : #666;
			font-size   : 14px;
			line-height : 24px;
		}
	}
}

hr {
	// width         : 70%;
	margin-top    : $vertical-margin;
	margin-bottom : $vertical-margin;
}

.page-section {
	h3 {
		text-align     : center;
		text-transform : uppercase;
		font-size      : 18px;
		margin-bottom  : 40px;
		font-weight    : 300;

		&:after {
			content : " ";
			border  : solid 2px #3d4a6e;
			display : block;
			width   : 30px;
			margin  : 20px auto;
		}
	}

	.description-border {

		// @media (min-width: var(--breakpoint-sm)) {
		@include media-breakpoint-up(sm) {
			border-left : 1px solid black;
		}
	}

	.contact-me-btn,
	.download-resume-btn {
		margin-top :  30px;
	}

	.btn {

		+ .btn {
			margin-left: 10px;
		}

		i {
			margin-right : 5px;
		}

		border-radius : 4px;
		font-weight   : 400;
		font-size     : 12px;
	}

	&#work_experience {
		.job-details {

			@include media-breakpoint-up(sm) {
				text-align: right;
			}

			padding-bottom: 20px;

			strong {
				display : block;
				margin-bottom: 10px;
			}

			span {
				display : block;

				&.company {
					font-size : 12px;
				}

				&.location {
					font-style : italic;
					font-size  : 10px;
					color      : lighten(black, 60%);
				}
			}
		}

		.job_title {
			font-weight : bold;
			margin-bottom : 10px;
		}

		.job_description {

		}
	}

	&#proficiencies {
		.icons {
			text-align: center;

			.icon {

				+ .icon {
				}
			}
		}
	}

	&#project_examples {
		#carousel-container {
			width            : 100%;

			.carousel-inner {

				@include media-breakpoint-down(sm) {
					min-height : 60vh;
				}
				min-height : 300px;

				.carousel-item {

					.carousel-caption {
						bottom     : auto;
						top        : 20px;
						color      : #000;
						text-align : left;

						h5.project-title {
							text-transform : uppercase;
							font-size      : 16px;

							&:after {
								content       : " ";
								border        : solid 2px lighten(#000, 60%);
								display       : block;
								width         : 30px;
								margin-top    : 10px;
								margin-bottom : 20px;
								margin-left   : 0;
							}
						}

						p {
							span.credited-to {
								text-transform   : uppercase;
								font-size        : 10px;
								padding          : 5px 10px;
								background-color : lighten(#000, 95%);
								border-radius    : 3px;
								margin-top       : 10px;
								display          : inline-block;
							}
						}
					}
				}
			}

			.carousel-control-prev-icon {
				background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
			}

			.carousel-control-next-icon {
				background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
			}
		}
	}
}

footer {

	font-size : 11px;

	span.spacer {
		padding: 0 10px;
	}
	margin-top : 40px;
	padding    : 20px;
	text-align : center;
}